 img {
    height: 350px;
    width: 400px;
}

h4,
h6 {
    font-weight: 400;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 14px ;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 3px ;
}

table th,
table td {
  padding-right: 30px;
}

.input-group {
    width: 100px;
 }

 .btns {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  @media (max-width: 768px) {
    .cart-image {
      display: none;
    }
  }


